
.icon-Menu-youHome{
    display: inline-block;
    width: 40%;
  }

@media (max-width: 1200px){
    .logo-youHome
    {
      width: 16%;
      height: 138%;
      position: absolute;
      translate: -62px -47px;
    }
}

/*Escritorio*/
@media (min-width: 1199.98px)  {
    /*body{background: red;}*/
    .logo-youHome
    {
      width: 16%;
      height: 138%;
      position: absolute;
      translate: -62px -47px;
    }
    pr-3{
      padding-right: 1rem !important;
      }
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    /*body{background: orange;}*/
    .logo-youHome
    {
    display: none;
    }

    .pr-3{
    padding-right: 0.5rem !important;
    }
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    /*body{background: blue;}*/
    .logo-youHome
    {
    display: none;
    }
    pr-3{
      padding-right: 0.5rem !important;
      }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    /*body{background: green;}*/
    .logo-youHome
    {
    display: none;
    }
    pr-3{
      padding-right: 0.5rem !important;
      }
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    /*body{background: black;}*/
    .logo-youHome
    {
    display: none;
    }
    pr-3{
      padding-right: 0.5rem !important;
      }
}
/*fin movil*/
